<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAn3xPnewn2tucVl4VIofVrERQMQe6gBQE</string>
	<key>GCM_SENDER_ID</key>
	<string>900705927891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pocGpsBateaux</string>
	<key>PROJECT_ID</key>
	<string>poc-bateaux-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>poc-bateaux-flutter.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900705927891:ios:ae47bc15e2bab1387e8a26</string>
</dict>
</plist>